<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<br /><br /><br />
<div class="container">
    <table width="600">
        <tr>
            <th>
                <a href="/">Home</a>
            </th>
            <th>
                <a href="/cars">Cars</a>
            </th>
            <th>
                <a href="/search">Search Cars</a>
            </th>
        </tr>
    </table>
</div>
<br /><br /><br />