<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

<%- include('menu'); -%>

<div class="container">
    <h2>Home Page</h2>
</div>